.input {
    padding: 3px 11px;
    color: black;
    background-color: transparent;
    border: 1px black solid;
    

    .-input-text {
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
    }
}