.figure {
    width: 100%;
    height: 688px ;
    // margin-bottom: 120px;
}

.figure img {
    width: 100%; /* Ширина изображений */
    height: 100%; /* Высота изображении */
    object-fit: cover; /* Вписываем фотографию в область */
}

