.navbar {
    width: 100%;
    background: #fff;
    color: #000;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap:30px;
    flex: 1;
    .-top {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
    .-bottom {
        margin: 0 120px;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        font-family: 'Jura';
        font-style: normal;
        font-weight: 400;
        font-size: 46px;
        color: #000000;
    }
}

.footer {
    background: #f1f1f1;
}