




.product-type {
    display: flex;
    flex-direction: column;
    max-width: 1743px;
    // width: 100%;
    height: auto;
    // flex-wrap: wrap;
    gap: 45px;
    margin-top: 125px;


    .-product-title  {
        font-size: 64px;
        margin-left: 10px;
    }


    .-product-block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: end;
        gap:50px;
        // justify-content: center;
        // 83

        
    }





    .tile {
        // width: 280px;
        max-width: 280px;
        width: 100%;
        height: 430px;
        border: 1px solid black;
        padding: 15px;
        background-color: white;
        // display: flex;
        flex-direction: column;
        
        
        .-middle {
            display: flex;
            flex-direction: column;
            
            .-middle-top {
                display: flex;
                justify-content: space-between;
            }
            
            .-title h1 {
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;
            }
            
            .-price, .-currency {
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;
            }
            
            .-type {
                margin-bottom: 10px;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
            }
        
            .-middle-bottom {
                justify-content: end;
                display: flex;
                .-wishlistIcon {
                    margin-bottom: 10px;
                }
            }
        }
    
    
    }

}